Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>

        <!-- repeated hotel entries -->
        <xs:element name="Hotel" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>

              <!-- hotel name -->
              <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>

              <!-- phone number(s) -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>

              <!-- address -->
              <xs:element name="Address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>

                  <!-- address number -->
                  <xs:attribute name="Number" type="xs:positiveInteger" use="required"/>

                  <!-- nearest airport -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <!-- rating -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>